.login {
  background: url(../../assets/login-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px;
  width: 95%;
  height: 95vh;
  border-radius: 20px;
  margin: auto;
}

.login > div{
  display: flex; 
  gap: 20px;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: auto;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* @media (max-width: 768px) {
  .login {
    padding: 20px;
  }
} */

.formToggle{
  display: flex;
  align-items: center;
  justify-content:center;
  width: fit-content;
  border: solid 1px var(--primarycolor--);
  border-radius: 8px;
}
.formToggle div{
  padding: 10px 25px;
  user-select: none;
  cursor: pointer;
  border-radius: 8px;
}

.formToggle .studentActive {
  background-color: blue;
}

.formToggle .doctorActive {
  background-color: blue;
}

/* .formToggle div:hover{
  background-color: var(--primarycolor--);
  user-select: none;
  cursor: pointer;
} */

.stuForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.stuForm h2 {
  font-size: 20px;
  font-weight: 400;
}

.stuForm input {
  width: 100%;
  background-color: transparent;
  border: solid 1px var(--primarycolor--);
  padding: 15px 10px;
  border-radius: 8px;
}

.stuForm ::-webkit-input-placeholder {
  color: black;
}

.stuForm h3 {
  font-size: 17px;
  font-weight: 300;
}

.stuForm button {
  background-color: var(--primarycolor--);
  padding: 15px 20px;
  color: white;
  width: 100%;
  border-radius: 8px;
}

.stuForm input,
.stuForm button {
  border-radius: 5px;
}

