.forgotPassword {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 30px;
  width: 90%;
  margin-top: 100px;
}

.forgotPassword h2 {
  font-size: 20px;
  font-weight: 400;
  margin-left: 100px;
}

.forgotPassword input {
  width: 70%;
  background-color: transparent;
  border: solid 1px var(--primarycolor--);
  padding: 15px 10px;
  margin-left: 100px;
}

.forgotPassword ::-webkit-input-placeholder {
  color: black;
}

.forgotPassword h3 {
  font-size: 17px;
  font-weight: 300;
  margin-top: 25px;
  margin-left: 100px;
}

.forgotPassword button {
  background-color: var(--primarycolor--);
  padding: 15px 20px;
  color: white;
  margin-left: 100px;
}
