.forgotPassword {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 20px;
  width: 100%;
  margin: 0 auto;
}

.forgotPassword h2 {
  font-size: 20px;
  font-weight: 400;
}

.forgotPassword input {
  width: 100%;
  background-color: transparent;
  border: solid 1px var(--primarycolor--);
  padding: 15px 10px;
}

.forgotPassword ::-webkit-input-placeholder {
  color: black;
}

.forgotPassword h3 {
  font-size: 17px;
  font-weight: 300;
}

.forgotPassword button {
  background-color: var(--primarycolor--);
  padding: 15px 20px;
  color: white;
  width: 100%;
}

.forgotPassword input,
.forgotPassword button {
  border-radius: 8px;
}
