.forgotPassword {
  background: url(../../assets/login-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  padding-bottom: 100px;
}

@media (max-width: 768px) {
  .forgotPassword {
    padding: 20px;
  }
}
