@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  max-width: 1300px;
  width: 100%;
   margin: 0 auto;
}

*{
  --primarycolor--:#7F8FD5;
}


::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f105;
}

button{
  cursor: pointer;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #c058ed;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7b3cf9;
}