.docForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
  margin: 0 auto;
}

.docForm h2 {
  font-size: 20px;
  font-weight: 400;
}

.docForm input {
  width: 90%;
  background-color: transparent;
  border: solid 1px var(--primarycolor--);
  padding: 15px 10px;
}

.docForm ::-webkit-input-placeholder {
  color: black;
}

.docForm h3 {
  font-size: 17px;
  font-weight: 300;
  margin-top: 30px;
}

.docForm button {
  background-color: var(--primarycolor--);
  padding: 15px 20px;
  color: white;

  width: 100%;
}

.docForm input,
.docForm button {
  border-radius: 5px;
}
